name: Linter

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  push:
    branches: [main]
  pull_request:
    branches: [main, release-**]

permissions:
  contents: read

env:
  PYTHON_VERSION: "3.x"

jobs:
  linter:
    runs-on: ubuntu-latest
    environment: linter
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit
          disable-sudo: true
          disable-telemetry: true

      - name: Check out the code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum

      - name: Cache golangci-lint
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            ~/.cache/golangci-lint
            ~/.cache/go-build
          key: golangci-lint-${{ runner.os }}-${{ hashFiles('**/go.sum') }}-${{ hashFiles('.golangci.yml', '.golangci.yaml') }}
          restore-keys: |
            golangci-lint-${{ runner.os }}-${{ hashFiles('**/go.sum') }}-
            golangci-lint-${{ runner.os }}-

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: 'pip'
          cache-dependency-path: '**/*requirements.txt'

      - name: Install pre-commit dependencies
        run: |
          pip install -r .github/workflows/linter-requirements.txt --require-hashes --only-binary :all:

      - name: Cache pre-commit hooks
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-3|${{ env.pythonLocation }}|${{ hashFiles('.pre-commit-config.yaml') }}

      # Set golangci-lint cache directory
      - name: Configure golangci-lint cache
        run: |
          mkdir -p ~/.cache/golangci-lint
          echo "GOLANGCI_LINT_CACHE=${HOME}/.cache/golangci-lint" >> "$GITHUB_ENV"

      - name: Run pre-commit hooks
        run: |
          pre-commit run --all-files --verbose --show-diff-on-failure
